image:
  tag: {{ lookup('env','APP_TAG') | regex_replace('^v','') | regex_search('^\d+\.\d+\.\d+$') |  default('latest') }}
  pullPolicy: Always

service:
  type: NodePort
  nodePort: {{ lookup('env','APP_INNER_PORT') }}

DB:
  host:     "{{ lookup('env','DB_HOST') }}"
  name:     "{{ lookup('env','DB_NAME') }}"
  user:     "{{ lookup('env','DB_USER') }}"
  password: "{{ lookup('env','DB_PASSWORD') }}"
